.weatherPad {

    background-color: rgb(255, 255, 255);
    background-image: url("../../media/images/clouds.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    /* height: 500px; */
    border-radius: 30px;
    color: rgb(204, 204, 204);
    padding: 140px;

}

.inputPad input {
    display: inline;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(101, 106, 107);
    font-weight: 800;
    font-size: 13pt;
    font-family: consolas;
    border-radius: 8px;
    margin-top: 4px;
    height: 25px;
}

.inputPad input:focus {
    box-shadow: 0 0 10px rgb(2, 67, 85);
    color: rgb(101, 106, 107);
    font-weight: 800;
    font-family: consolas;
}

.inputPad input::placeholder {
    color: rgb(2, 67, 85);
    font-family: consolas;
}

.inputPad h3{
    color:white;

}

.visual {
    display: flex;
    justify-content: center;
  
}

.weatherText {
    color: black;
    color: white;
    font-size: 24pt;
    font-family: consolas;

    border-radius: 30px;
}

.weatherText h1 {
    font-size: 55pt;
    margin-bottom: -20px;
   
}

.inputPad button {
    color: rgb(36, 93, 104);
    color: yellow;
    background-color: white;
    background-color: rgb(0, 0, 0);
    font-family: consolas;
    font-size: 13pt;
    font-weight: 900;
    border-radius: 5px;

}

.weather {
    text-align: left;

}

.weather img {
    width: 190px;
    height: 170px;

}

.description {
    font-size: 16pt;
    font-weight:600;
    background-color: rgb(255, 255, 255);
    background-image: url("../../media/images/wind.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color:rgb(255, 255, 255);
    margin-left: 140px;
    padding: 20px;
}


.nextWeather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}